.timeline{
    padding: 0 !important;
    margin-left: 10px;
}

.timeline .timeline_header{
    padding-top: 7px !important;
}

.timeline .timeline_firstItem{
    min-height: 80px !important;
}

.timeline .MuiTimelineItem-root{
    min-height:0px !important;
}

.timeline .MuiTimelineItem-missingOppositeContent:before{
    display: none;
}

.timeline .timeline_dot_header{
    color: dimgray;
    background-color: rosybrown;
    font-size: small;
    padding: 10px;
}

.timeline .timeline_dot{
    color: dimgray;
    border-color: rosybrown;
    font-size: small;
    padding: 8px;
}

.timeline .MuiTimelineConnector-root{
    background-color: rosybrown;
}

/* check */
.timeline .timeline_dot_header > .MuiSvgIcon-root{
    font-size: 20px;
    color: black;
}

.timeline .timeline_separator{
    padding-left: 13px;
}

.timeline .timeline_content{
    padding-top: 0px;
    margin-bottom: 20px;
}