/* Tabs */
.customTabs .customTabs_item {
    padding: 0px !important;
    min-width: 0 !important;
    margin-right: 20px !important;
    text-transform: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    outline-width: 0px !important;
}

.customTabs .active{
    color: rosybrown !important;
}

/* Cards */
.customCard{
    height: 100%;
    max-width: 350px;
    box-shadow: 0px 0px 48px 0px rgba(87, 129, 87, 0.171) !important;
    border-radius: 8px;
    overflow: hidden;
    outline-width: 0px !important;
}

.customCard .customCard_image{
    height: 140px;
}

.customCard .customCard_title{
    font-weight: 500;
}

.customCard .customCard_caption{
    color: darkslategray !important;
    font-weight: 400;
}

/* Dialogue */
.projectDialogue .projectDialogue_image{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.projectDialogue .projectDialogue_description{
    margin-top: 10px !important;
}

.projectDialogue .projectDialogue_action{
    justify-content: center !important;
    margin-bottom: 10px;
}

.projectDialogue .projectDialogue_icon{
    color: darkslategray;
    margin: 0px 12px;
    cursor: pointer;
}

.projectDialogue .projectDialogue_icon:hover{
    color: rosybrown;
}

.projectDialogue .projectDialogue_icon > .MuiSvgIcon.root{
    font-size: 30px !important;
}